html,
body{
    background: rgb(0 126 123);
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    padding: 50px;
    text-align: center;
    width: 100%;
}

.card-container {
    background:rgb(255 77 168);
    box-shadow: 2px 15px 20px rgba(0,0,0,0.3);
    border-style:solid;
    border-color: rgb(238 0 34);
    border-radius: 100px;
    display: inline-block;
    overflow: hidden;
    padding: 30px;
    width: 40%;
    height: 83%;
    
}

.card-container .qr-container {
    background: rgb(238 0 34);
    box-shadow: 2px 10px 20px rgba(0,0,0,0.3);
    border-style:solid;
    border-color: rgb(238 0 34);
    border-radius: 90px;
    padding: 50px;
    text-align: center;
   
}

.card-container .qr-container img {
    max-width: 100%;
    
}

.card-container h1 {
    font-family: 'Lexend Giga';
    font-size: 23px;
    color: rgb(253 244 201);
}

.card-container h2 {
    font-family: 'Lexend Giga';
    font-size: 17px;
    color: rgb(253 244 201);
}

.card-container p {
    font-family: 'Lexend Giga';
    font-size: 8px;
    font-weight: 200;
    font-stretch: semi-expanded;
    color:#be0c2d;
    
}